VITE_SUPABASE_PROJECT_ID="ivkvhpdlnmsqicdqhjfi"
VITE_SUPABASE_URL="https://ivkvhpdlnmsqicdqhjfi.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2a3ZocGRsbm1zcWljZHFoamZhaY2kiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTc3NDQ3ODcyNywiZXhwIjoyMDkwMDU0NzI3fQ.qEUcxzHQX4_mNkuHsZcOyZxGaY2tiHAtdeb4XVidaV0"